.qtc_clangd
*.debug
bin
.qmake.stash
*.user
*.pro.user.*
Makefile
Client/debug
Client/Client.pro
Client/release
Client/resources/images
Client/resources/icons
Client/app.ico
Client/Makefile.Release
Client/resources.rc
Server/debug
Server/release
*.ico
Server/resources.rc
Server/Makefile.Release
Server/resources/icons
Server/resources/database
